@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
	font-family: 'Source Sans Pro', sans-serif;
	color: #FFFFFF;
/*	background-color: #f2f3f5;*/
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
	background-size: cover;
	margin: 0%;
	font-size: 5vw;
}

form {
	background-color: white;
	position: relative;
	padding: 5% 12% 5% 12%;
	-webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
}

form img {
	display: block;
	width: 80%;
}

input[type=text] {
	font-size: 5vw;
	margin-top: 15%;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
	opacity: 0.5;
	color: #181c1f;
	width: 70%;
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 23s infinite;
}

input[type=text]:focus, input[type=text]:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {-webkit-mask-position: 150%;}
  to {-webkit-mask-position: -50%;}
}

input[type=button] {
	font-size: 5vw;
	font-weight: bold;
	color: #515151;
	background-color: transparent;
	border: none;
	transition: 0.2s ease-in-out;
	float: right;
/*	margin-right: 5%;*/
	margin-top: 15%;
}

input[type=button]:hover {
	font-size: 5.1vw;
	color: #f1c56d;
}

::placeholder {
	color: #181c1f;
}

.information {
	display: grid;
	grid-column-gap: 5%;
	grid-row-gap: 5%; 
	margin: 30% 10%;

  	grid-template-columns: 1fr 1fr;

  	grid-template-areas: 
        "loc loc"
        "temp  wind"
        "cloud  suit"; 
}

#location {
  grid-area: loc;
} 

#temperature {
  grid-area: temp;
}

#wind {
  grid-area: wind;
}

#clouds {
  grid-area: cloud;
}
#suitable {
  grid-area: suit;
}

#location, #suitable, #temperature, #wind, #clouds {
	background-color: white;
	position: relative;
	color: #555555;
	font-size: 4vw;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
}

#logo {
	width: 30%;
	margin-top: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#location p, #suitable p, #temperature p, #wind p, #clouds p {
	text-align: center;
}

#name, #degrees, #kmperh, #cloud {
	color: #181c1f;
	opacity: 0.8;
	font-size: 7vw;
	display: grid;
	justify-content: center;
	margin-bottom: 10%;
}


@media only screen and (min-width: 600px) {
	body {font-size: 3vw;}
	form {padding: 10% 10% 10% 20%;}
	input[type=text] {font-size: 3vw; margin-top: 5%;}
	input[type=button] {font-size: 3vw; margin-right: 15%; margin-top: 5%;}
	input[type=button]:hover {font-size: 3.1vw;}
	.information {grid-gap: 15%; margin: 10% 20% 10% 20%;}
	#location, #suitable, #temperature, #wind, #clouds {font-size: 2.5vw;}
	#logo {width:10%;}
	#name, #degrees, #kmperh, #cloud {font-size: 5vw;}
}


@media only screen and (min-width: 960px) {
	body {font-size: 2vw;}
	form {padding: 2% 30% 2% 30%;}
	input[type=text] {font-size: 2vw;}
	input[type=button] {font-size: 2vw; margin-right: 0%;}
	input[type=button]:hover {font-size: 2.1vw;}
	.information {grid-gap: 5%; margin: 3% 30% 0% 30%;}
	#location, #suitable, #temperature, #wind, #clouds {font-size: 1.5vw;}
	#logo {width: 8%;}
	#name, #degrees, #kmperh, #cloud {font-size: 2vw;}
}


@media only screen and (min-width: 1281px) {
	body {font-size: 1vw;}
	form {padding: 2% 40% 2% 40%;}
	input[type=text] {font-size: 1vw;}
	input[type=button] {font-size: 1vw;}
	input[type=button]:hover {font-size: 1.1vw;}
	.information {grid-gap: 5%; margin: 10% 40% 0% 40%;}
	#location, #suitable, #temperature, #wind, #clouds {font-size: 1vw;}
	#name, #degrees, #kmperh, #cloud {font-size: 1.5vw;}
}








